/* Estilizando o corpo e o fundo */
body {
    font-family: 'Arial', sans-serif;
    background-color: #53a49f;
    /* Verde-água suave */
    color: #333;
    /* Texto em cinza escuro */
}

/* Centralizando o conteúdo da página */
.container {
    display: flex;
    /* Layout flex para dividir em duas colunas */
    justify-content: space-between;
    /* Espaçamento entre section e aside */
    max-width: 1200px;
    /* Limita a largura máxima a 1200px */
    margin: 0 auto;
    /* Centraliza o container horizontalmente */
    padding: 0 20px;
    /* Adiciona algum espaço nas laterais para telas menores */
}

/* Section com 70% da largura */
section {
    flex: 7;
    /* 70% da largura para o section */
    background-color: #ffffff;
    /* Fundo branco para contraste */
    padding: 20px;
    margin-top: 20px;
}

/* Aside com 30% da largura */
aside {
    flex: 3;
    /* 30% da largura para o aside */
    background-color: #e3e0dc;
    /* Cor de fundo para o aside */
    padding: 20px;
    margin-top: 20px;
    border-left: 2px solid #ccc;
    /* Adiciona uma borda à esquerda */
}

/* Menu de navegação */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    /* Texto do menu em branco */
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
    color: #FF9800;
    /* Laranja no hover */
}

/* Footer */
footer {
    background-color: #3b7d7a;
    /* Verde escuro */
    padding: 10px;
    text-align: center;
    color: white;
    /* Texto branco */
    margin-top: 20px;
}

/* Destaque do texto */
.destaque {
    font-weight: bold;
    background-color: #e3e0dc;
    color: black;
    padding: 3px 2px;
    text-align: center;
    font-size: 1.0em;
}

/* Estilo adicional para imagens */
img {
    height: auto;
    display: block;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Justificar texto do section */
.texto-maior {
    font-size: 1.2em;
    text-align: justify;
}

/* Estilo do formulário */
form {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20px auto;
}

/* Estilo para inputs e textarea */
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Estilo para a mensagem de resposta */
#response {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}

/* Estilo do container flex */
.flex-container {
    display: flex;
    align-items: flex-start;
    /* Alinha os itens ao topo */
}

.text-container {
    margin-left: 20px;
    text-align: center;
}

.imagem3 {
    width: 450px;
}